<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap_tests.php"
	backupGlobals="false"
	colors="true"
>
    <testsuites>
        <testsuite>
            <directory prefix="" suffix="php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>deploy</directory>
            <directory>vendor</directory>
            <directory>wordpress-tests</directory>
        </blacklist>
    </filter>
</phpunit>
